.header {
    position: relative;
.slick-prev,
.slick-next {
    display: none!important;
}
.slick-dots {
    display: flex;
    position: absolute;
    bottom: 5.5%;
    left: 48.4%;
    text-indent: -9999px;
    list-style-type: none;
    & > li {
        width: 8px;
        height: 8px;
        background: gray;
        margin-right: 10px;
        margin-left: 10px;
        opacity: 0.9;
        cursor: pointer;
        margin-right: 7px;
         margin-left: 7px;
    }
    & > li.slick-active {
        background: white;
    }
}
.slick-slide img {
    display: block;
    width: 100%;
}
}


.wrapper {
    max-width: 1430px;
    margin: 0 auto;
}

.header-logo {
    position: absolute;
    top: 0;
    left: 12.5%;
    @media (max-width: 1720px) {
        left: 5.5%;
    }
    @media (max-width: 1550px) {
        left: 2.3%;
    }
    @media (max-width: 1315px) {
       padding-top: 20px;
       padding-bottom: 20px;
       padding-left: 25px;
       padding-right: 25px;
    }
    @media (max-width: 1157px) {
        left: 0.3%;
    }
    padding-top: 32px;
    padding-bottom: 37px;
    background-color: $black;
    padding-left: 36px;
    padding-right: 35px;
}

.header-burger {
    position: absolute;
    top: 4.5%;
    left: 25.3%;
    @media (max-width: 1720px) {
        left: 21.3%;
    }
    @media (max-width: 1550px) {
        left: 19.3%;
    }
    cursor: pointer;

    .burger-one {
        background-color: white;
        width: 40px;
        height: 1px;
        margin-bottom: 8px;
        @media (max-width: 1193px) {
            width: 25px;
        }
    }

    .burger-two {
        background-color: white;
        width: 25px;
        height: 1px;
        margin-bottom: 8px;
        @media (max-width: 1193px) {
            left: 25.5%;
            width: 15px;
        }
    }

    .burger-three {
        background-color: white;
        width: 40px;
        height: 1px;
        @media (max-width: 1193px) {
            left: 25.5%;
            width: 25px;
        }
    }

    &:hover {
        .burger-one {
            background-color: $hover;
            transition: 0.2s ease;
        }
    
        .burger-two {
            background-color: $hover;
            transition: 0.2s ease;
        }
    
        .burger-three {
            background-color: $hover;
            transition: 0.2s ease;
        }
    }
}


.header-menu {
    position: absolute;
    top: 3.7%;
    left: 31.6%;
    @media (max-width: 1720px) {
        left: 28.6%;
    }
    @media (max-width: 1550px) {
        left: 24.6%;
    }
    .nav {
        display: flex;
        .nav-item {
            padding-right: 50px;
            list-style-type: none;
            @media (max-width: 1193px) {
                padding-right: 41px;
            }
            @media (max-width: 1076px) {
                padding-right: 22px;
            }
            &:last-child {
                padding-right: 0;
            }
        }
        .nav-link {
            font-size: 1.33rem;
            text-decoration: none;
            color: $white;
            line-height: 24px;
            transition: 0.2s ease;
            @media (max-width: 1720px) {
                font-size: 1.21rem;
            }
            @media (max-width: 1076px) {
                font-size: 1.2rem;
            }
            &:hover {
                color: $hover;
            }
        }
    }
}

.header-contacts {
    display: flex;
    position: absolute;
    top: 1.8%;
    right: 12.1%;
    align-items: center;
    @media (max-width: 1720px) {
        top: 1.2%;
    }
    @media (max-width: 1381px) {
        right: 4.1%;
    }
    @media (max-width: 1115px) {
        right: 1.1%;
    }
    @media (max-width: 1076px) {
        right: 1.1%;
    }

    .header-location {
        padding-right: 61px;
        color: white;
        line-height: 24px;
        font-size: 1.33rem;
        font-weight: bold;
        display: flex;
        @media (max-width: 1720px) {
            font-size: 1.21rem;
        }
        @media (max-width: 1208px) {
            font-size: 1.1rem;
        }
        &:before {
            content: "";
            display: block;
            background-image: url(../../../img/header-place.png);
            height: 1.75rem;
            width: 1.25rem;
            background-size: cover;
            background-repeat: no-repeat;
            margin-right: 11px;
        }
    }

    .header-tel {
        color: white;
        line-height: 24px;
        font-size: 1.33rem;
        text-decoration: none;
        font-weight: bold;
        display: flex;
        transition: 0.2s ease;
        @media (max-width: 1208px) {
            font-size: 1.1rem;
        }
        &:hover {
            color: $hover;
        }
        &:before {
            content: "";
            display: block;
            background-image: url(../../../img/header-phone.png);
            height: 1.75rem;
            width: 1.75rem;
            background-size: cover;
            background-repeat: no-repeat;
            margin-right: 15px;
        }
    }

}

.header-screen {
    position: absolute;
    top: 31%;
    left: 28.5%;
    @media (max-width: 1720px) {
        left: 26.5%;
    }
    @media (max-width: 1440px) {
        top: 24%;
    }
    @media (max-width: 1286px) {
        top: 20%;
    }
    @media (max-width: 1193px) {
        left: 25.5%;
    }
    @media (max-width: 1157px) {
        left: 29.5%;
    }
    
    display: flex;
    flex-direction: column;
}

.header-title {
    font-size: 5rem;
    color: white;
    text-align: center;
    line-height: 70px;
    padding-bottom: 16px;
    @media (max-width: 1550px) {
        font-size: 4.5rem;
    }
    @media (max-width: 1465px) {
        font-size: 4.2rem;
    }
    @media (max-width: 1193px) {
        font-size: 3.7rem;;
    }
    @media (max-width: 1157px) {
        font-size: 3rem;
        line-height: 50px;
    }

}

.header-description {
    font-size: 1.33rem;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 24px;
    padding-bottom: 46px;
    @media (max-width: 1720px) {
        padding-bottom: 32px;
    }
}

.header-button {
    font-size: 1.5rem;
    text-decoration: none;
    padding-top: 27px;
    padding-bottom: 25px;
    background-color: white;
    padding-right: 56px;
    padding-left: 53px;
    text-transform: uppercase;
    color: $black;
    font-weight: bold;
    letter-spacing: 3px;
    transition: 0.2s ease;
    align-self: center;
    @media (max-width: 1286px) {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 1.4rem;
    }
    &:hover {
        color: $hover;
    }
}