@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

:root {
    font-size: 12px;
}

body {
    font-family: 'Roboto', sans-serif;
}

main {
    padding-left: 15px;
    padding-right: 15px;
}

.wrapper {
    width: 100%;
    max-width: 1430px;
    margin: 0 auto;
}

input[type='range'] {
    width: 362px;
    -webkit-appearance: none;
    background-color: #d6d5d6;
    @media (max-width: 350px) {
        width: 289px;
     }
    &:focus {
        outline: none;
    }
}

input[type='range']::-webkit-slider-runnable-track {
    height: 2px;
    -webkit-appearance: none;
    color: #13bba4;
    margin-top: -1px;
}

input[type='range']::-webkit-slider-thumb {
    width: 6px;
    -webkit-appearance: none;
    height: 6px;
    cursor: pointer;
    background: black;
    margin-top: -1px;
}

input[type="range"]::-moz-range-progress {
    background-color: #5c5a5e;
}
input[type="range"]::-moz-range-track {  
    background-color: #d6d5d6;
}
input[type="range"]::-ms-fill-lower {
    background-color: #5c5a5e; 
}
input[type="range"]::-ms-fill-upper {  
    background-color: #d6d5d6;
}

.input-one,
.input-two {
    position: relative;
    width: 362px;
    margin-left: 55px;
    @media (max-width: 917px) {
        margin-left: 30px;
     }
     @media (max-width: 350px) {
        margin-left: initial;
        width: 289px;
     }
}

.zero-scale {
    position: absolute;
    font-size: 1.33rem;
    @media (max-width: 350px) {
        font-size: 1rem;
        top: 47%;
     }
}

.square {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: black;
    top: 7px;
    z-index: 1;
}

.final-scale {
    position: absolute;
    right: -17px;
    bottom: -37px;
    font-size: 1.33rem;
    @media (max-width: 350px) {
        font-size: 1rem;
        right: 0px;
        bottom: -33px;
    }
}

.section-filters {
     select  {
        text-align: center!important;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    @media (max-width: 350px) {
        padding-top: 20px;
    }
    .input-fields {
        display: flex;
        @media (max-width: 917px) {
           flex-direction: column;
           padding-left: 33px;
        }
        @media (max-width: 350px) {
            flex-direction: column;
            padding-left: 0;
         }
        &-item {
            padding-right: 30px;
            &:last-child {
                padding: 0;
            }
            @media (max-width: 917px) {
                padding-bottom: 45px;
             }
             @media (max-width: 350px) {
                padding-bottom: 25px;
             }
             @media (max-width: 350px) {
                padding-right: 0;
             }
        }
        .field-with-error {
            display: flex;
            flex-direction: column;
            .form-error {
                text-align: right;
                margin-top: 4px;
                opacity: 0;
                font-size: 1.16rem;
                line-height: 150%;
                color: #f61c1d;
                transition: 0.2s ease; 
            }
        }
        .input-area {
            display: flex;
            .input-title {
                margin: 0;
                font-size: 1.33rem;
                border-top: 1px solid $black;
                border-left: 1px solid $black;
                border-bottom: 1px solid $black;
                width: 240px;
                @media (max-width: 1030px) {
                    width: 210px;
                }
                @media (max-width: 350px) {
                    width: 117px;
                    height: 38px;
                    font-size: 1rem;
                 }
                height: 56px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                &::after {
                    content: "м2";
                    display: inline-block;
                    position: absolute;
                    right: -200px;
                    @media (max-width: 350px) {
                        right: -142px;
                    }
                }
            }
            input[type='number'] {
                -moz-appearance:textfield;
            }
            
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }
            input {
                width: 240px;
                @media (max-width: 1030px) {
                    width: 210px;
                }
                @media (max-width: 350px) {
                    width: 170px;
                    height: 36px;
                 }
                height: 54px;
                font-size: 1.33rem;
                text-align: center;
                border: 1px solid $black;
                &:invalid:not(:placeholder-shown) {
                    border-color: #f61c1d;
                }
                &:invalid:not(:placeholder-shown) {
                    border: 1px solid #f22149;
                }
                &:invalid:not(:placeholder-shown) + .form-error {
                    opacity: 1;
                }
                &:focus {
                    outline: none;
                }
                &::-webkit-input-placeholder {
                    color: #c0c0c1;
                    }
            }
        }
        .input-price {
            display: flex;
            margin-bottom: 26px;
            .input-title {
                margin: 0;
                font-size: 1.33rem;
                border-top: 1px solid $black;
                border-left: 1px solid $black;
                border-bottom: 1px solid $black;
                width: 240px;
                @media (max-width: 1030px) {
                    width: 210px;
                }
                @media (max-width: 350px) {
                    width: 117px;
                    height: 38px;
                    font-size: 1rem;
                }
                height: 56px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                &::after {
                    content: "тыс.";
                    display: inline-block;
                    position: absolute;
                    right: -200px;
                    @media (max-width: 350px) {
                        right: -148px;
                     }
                }
            }
            input[type='number'] {
                -moz-appearance:textfield;
            }
            
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }
            input {
                width: 240px;
                @media (max-width: 1030px) {
                    width: 210px;
                }
                @media (max-width: 350px) {
                    width: 170px;
                    height: 36px;
                }
                
                height: 54px;
                font-size: 1.33rem;
                text-align: center;
                border: 1px solid $black;
                &:focus {
                    outline: none;
                }
                &::-webkit-input-placeholder {
                    color: #c0c0c1;
                    }
            }
        }
    }
    .select-fields {
        padding-bottom: 30px;
        @media (max-width: 350px) {
            padding-bottom: 0;
        }
    }

    #object-type,
    #living-area {
        width: 320px;
        height: 60px;
        font-size: 1.33rem;
        margin-right: -4px;
        border: 1px solid $black;
        text-align-last: center;
        @media (max-width: 1193px) {
            width: 270px;
        }
        @media (max-width: 1030px) {
            width: 210px;
        }
        @media (max-width: 350px) {
            width: 295px;
            height: 38px;
            margin-bottom: 12px;
            font-size: 1rem;
         }
        &:active {
            border: 1px solid $hover;
        }
        &:focus {
            outline: none;
        }
    }
    &__buttons {
        padding-top: 57px;
        display: flex;
        @media (max-width: 350px) {
            flex-direction: column;
            padding-top: 41px;
            align-items: center;
         }
        .button-one {
            &__item {
                background: none;
                border: none;
                color: $black;
                font-size: 1.33rem;
                padding-top: 21px;
                font-weight: bold;
                padding-left: 50px;
                cursor: pointer;
                transition: 0.2s ease;
                @media (max-width: 350px) {
                    padding-top: 0;
                    padding-bottom: 28px;
                    padding-left: 0;
                 }
                &:focus {
                    outline: none;
                }
                &:hover {
                    color: $hover;
                }
            }
        }
        .button-two  {
            padding-left: 34px;
            @media (max-width: 350px) {
                padding-left: 0;
             }
            .button_show {
                background-color: #302d32;
                border: none;
                color: white;
                width: 222px;
                height: 60px;
                margin-left: -2px;
                letter-spacing: 3px;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 1.5rem;
                transition: 0.2s ease;
                cursor: pointer;
                @media (max-width: 350px) {
                    width: 165px;
                    height: 52px;
                    font-size: 1rem;
                    margin-left: 0;
                 }
                &:focus {
                    outline: none;
                }
                &:hover {
                    background-color: $hover;
                }
            }
        }
    }
}

.section-slider-one {
    padding-top: 126px;
    padding-bottom: 125px;
    @media (max-width: 350px) {
        padding-top: 36px;
        padding-bottom: 39px;
     }
    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        font-size: 3.33rem;
        padding-bottom: 10px;
        line-height: 60px;
        @media (max-width: 350px) {
            font-size: 1.66rem;
            line-height: 60px;
            height: 48px;
         }
    }
    &__description {
        font-size: 1.33rem;
        line-height: 24px;
        text-align: center;
        padding-bottom: 80px;
        @media (max-width: 350px) {
            font-size: 1rem;
            line-height: 18px;
            margin: 0;
            padding-bottom: 11px;
         }
    }

    &__line {
        width: 92%;
        height: 1px;
        background-color: #c0c0c1;
        margin-bottom: 23px;
        @media (max-width: 350px) {
            display: none;
         }
    }
    

    .slider-one {
        @media (max-width: 1314px) {
            .slick-prev,
.slick-next {
    display: none!important;
}
.slick-dots {
    display: flex;
    text-indent: -9999px;
    list-style-type: none;
    justify-content: center;
    padding-top: 20px;
    & > li {
        width: 8px;
        height: 8px;
        background: gray;
        margin-right: 10px;
        margin-left: 10px;
        opacity: 0.9;
        cursor: pointer;
        margin-right: 7px;
         margin-left: 7px;
         @media (max-width: 350px) {
            margin-right: 5px;
            margin-left: 5px;
            width: 6px;
            height: 6px;
        }
    }
    & > li.slick-active {
        background: $black;
    }
}
        }
        .like {
            margin-right: 17px;
        }
        .slick-prev,
        .slick-next {
            display: block;
            position: absolute;
            background-color: transparent;
            border: none;
            top: -38px;
            text-indent: -9999px;
            background-repeat: no-repeat;
            opacity: 0.3;
            transition: 0.2s ease;
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
            &:focus {
                outline: none;
            }
        }
        .slick-prev {
            right: 48px;
            background-image: url(../img/previous-arrow.png);
            border-top: 1px solid black;
            background-position: center center;
            border-left: 1px solid black;
            border-bottom: 1px solid black;
            border-right: 1px solid black;
            padding-top: 11px;
            padding-bottom: 1px;
            padding-left: 13px;
            padding-right: 13px;
        }

        .slick-next {
            right: 0;
            background-image: url(../img/next-arrow.png);
            border-top: 1px solid black;
            background-position: center center;
            border-left: 1px solid black;
            border-bottom: 1px solid black;
            border-right: 1px solid black;
            padding-top: 11px;
            padding-bottom: 1px;
            padding-left: 13px;
            padding-right: 13px;
        }
        img {
            width: 18px;
            height: 18px;
        }
        &__item {
            padding: 10px;
            box-sizing: border-box;
            position: relative;
        }
        &-main-first {
            background-image: url(../img/home-image-1.png);
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            align-items: flex-end;
            height: 415px;
            @media (max-width: 350px) {
                height: 257px;
            }
            &__item {
                margin-left: 32px;
                margin-bottom: 41px;
                @media (max-width: 1314px) {
                    margin-left: 96px;
                }
                @media (max-width: 1194px) {
                    margin-left: 44px;
                }
                @media (max-width: 990px) {
                    margin-left: 25px;
                }
                .like {
                    background-color: #302d32;
                    padding-top: 32px;
                    padding-left: 22px;
                    padding-right: 19px;
                    padding-bottom: 11px;
                    margin-left: 63px;
                    @media (max-width: 917px) {
                        margin-left: 25px;
                    }
                    background-image: url(../img/like.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    cursor: pointer;
                    transition: 0.2s ease;
                    width: 18px;
                    height: 15px;
                    outline: none;
                    border: none;
                    &:focus {
                        background-color: $hover;
                    }
                }
            }
            &__title {
                margin: 0;
                font-size: 2.5rem;
                color: white;
                font-weight: bold;
            }
            &__description {
                color: white;
                font-size: 1.33rem;
                line-height: 24px;
                padding-top: 10px;
                margin: 0;
            }
        }
        &-main-second {
            background-image: url(../img/home-image-2.png);
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            align-items: flex-end;
            height: 415px;
            @media (max-width: 350px) {
                height: 257px;
            }
            &__item {
                margin-left: 32px;
                margin-bottom: 41px;
                @media (max-width: 1314px) {
                    margin-left: 96px;
                }
                @media (max-width: 1194px) {
                    margin-left: 44px;
                }
                @media (max-width: 990px) {
                    margin-left: 25px;
                }
                .like {
                    background-color: #302d32;
                    padding-top: 32px;
                    padding-left: 22px;
                    padding-right: 19px;
                    padding-bottom: 11px;
                    margin-left: 102px;
                    @media (max-width: 917px) {
                        margin-left: 25px;
                    }
                    background-image: url(../img/like.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    cursor: pointer;
                    transition: 0.2s ease;
                    width: 18px;
                    height: 15px;
                    outline: none;
                    border: none;
                    &:focus {
                        background-color: $hover;
                    }
                }
            }
            &__title {
                margin: 0;
                font-size: 2.5rem;
                color: white;
                font-weight: bold;
            }
            &__description {
                color: white;
                font-size: 1.33rem;
                line-height: 24px;
                padding-top: 10px;
                margin: 0;
            }
        }
        &-main-third {
            background-image: url(../img/home-image-3.png);
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            align-items: flex-end;
            height: 415px;
            @media (max-width: 350px) {
                height: 257px;
            }
            &__item {
                margin-left: 32px;
                margin-bottom: 41px;
                @media (max-width: 1314px) {
                    margin-left: 96px;
                }
                @media (max-width: 1194px) {
                    margin-left: 44px;
                }
                @media (max-width: 990px) {
                    margin-left: 25px;
                }
                .like {
                    background-color: #302d32;
                    padding-top: 32px;
                    padding-left: 22px;
                    padding-right: 19px;
                    padding-bottom: 11px;
                    margin-left: 92px;
                    @media (max-width: 917px) {
                        margin-left: 25px;
                    }
                    background-image: url(../img/like.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    cursor: pointer;
                    transition: 0.2s ease;
                    width: 18px;
                    height: 15px;
                    outline: none;
                    border: none;
                    @media (max-width: 1358px) {
                        margin-left: 79px;
                    }
                    &:focus {
                        background-color: $hover;
                    }
                }
            }
            &__title {
                margin: 0;
                font-size: 2.5rem;
                color: white;
                font-weight: bold;
            }
            &__description {
                color: white;
                font-size: 1.33rem;
                line-height: 24px;
                padding-top: 10px;
                margin: 0;
            }
        }
        &-info {
            display: flex;
            padding-left: 32px;
            padding-top: 25px;
            &__item {
                display: flex;
                padding-right: 34px;
                .slider-one-info-text {
                    font-size: 1.33rem;
                    line-height: 24px;
                    margin-bottom: 0;
                    @media (max-width: 1212px) {
                        font-size: 1rem;
                    }
                }
                .text-one {
                    padding-left: 10px;
                    margin: 0;
                }
                .text-two {
                    padding-left: 10px;
                    margin: 0;
                }
                .text-three {
                    padding-left: 12px;
                    margin: 0;
                }
            }
        }
        
        &__child {
            height: 545px;
            border: 1px solid black;
            &:active {
               outline: none;
            }
            @media (max-width: 350px) {
                height: 428px;
             }
        }
        &-price {
            font-weight: bold;
            font-size: 2.5rem;
            line-height: 60px;
            margin: 0;
            padding-left: 33px;
            padding-top: 7px;
            @media (max-width: 1212px) {
                font-size: 2rem;
            }
        }
    }
}

.section-city-house {
    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h2 {
        font-size: 3.33rem;
        padding-bottom: 28px;
        line-height: 60px;
        @media (max-width: 350px) {
            font-size: 1.66rem;
            line-height: 60px;
            height: 48px;
            padding-bottom: 8px;
         }
    }
    &__description {
        font-size: 1.33rem;
        line-height: 24px;
        text-align: center;
        padding-bottom: 82px;
        margin: 0;
        @media (max-width: 350px) {
            font-size: 1rem;
            line-height: 18px;
            margin: 0;
            padding-bottom: 36px;
         }
    }

    .catalog {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 51px;
        .mobile_display_none {
            @media (max-width: 350px) {
                display: none;
            }
        }
        &-item {
            width: 465px;
            height: 545px;
            border: 1px solid black;
            margin-bottom: 20px;
            &__child {
                width: 463px;
                height: 545px;
                border: 1px solid black;
            }
            &-price {
                font-weight: bold;
                font-size: 2.5rem;
                line-height: 60px;
                margin: 0;
                padding-left: 33px;
                padding-top: 7px;
                @media (max-width: 1286px) {
                    padding-top: 0;
                }
            }
            &-info {
                display: flex;
                padding-left: 33px;
                padding-top: 27px;
                &__item {
                    display: flex;
                    padding-right: 34px;
                    .catalog-item-info-text {
                        font-size: 1.33rem;
                        line-height: 24px;
                        margin-bottom: 0;
                    }
                    .text-one {
                        padding-left: 10px;
                        margin: 0;
                    }
                    .text-two {
                        padding-left: 10px;
                        margin: 0;
                    }
                    .text-three {
                        padding-left: 12px;
                        margin: 0;
                    }
                }
            }
            @media (max-width: 350px) {
                width: 288px;
                height: 426px;
             }
            img {
                height: 18px;
                width: 18px;
            }
            &-main-one {
                background-image: url(../img/city-house-1.png);
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                align-items: flex-end;
                height: 415px;
                &__item {
                    margin-left: 32px;
                    margin-bottom: 41px;

                
                }
                &__title {
                    margin: 0;
                    font-size: 2.5rem;
                    color: white;
                    font-weight: bold;
                }
                &__description {
                    color: white;
                    font-size: 1.33rem;
                    line-height: 24px;
                    padding-top: 10px;
                    margin: 0;
                }
                .like {
                    background-color: #302d32;
                    padding-top: 32px;
                    padding-left: 22px;
                    padding-right: 19px;
                    padding-bottom: 11px;
                    margin-left: 98px;
                    margin-bottom: 43px;
                    background-image: url(../img/like.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    cursor: pointer;
                    transition: 0.2s ease;
                    width: 18px;
                    height: 15px;
                    outline: none;
                    border: none;
                    &:focus {
                        background-color: $hover;
                    }
                }
            }
            &-main-two {
                background-image: url(../img/city-house-2.png);
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                align-items: flex-end;
                height: 415px;
                &__item {
                    margin-left: 32px;
                    margin-bottom: 41px;
                
                }
                &__title {
                    margin: 0;
                    font-size: 2.5rem;
                    color: white;
                    font-weight: bold;
                }
                &__description {
                    color: white;
                    font-size: 1.33rem;
                    line-height: 24px;
                    padding-top: 10px;
                    margin: 0;
                }
                .like {
                    background-color: #302d32;
                    padding-top: 32px;
                    padding-left: 22px;
                    padding-right: 19px;
                    padding-bottom: 11px;
                    margin-left: 133px;
                    margin-bottom: 43px;
                    background-image: url(../img/like.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    cursor: pointer;
                    transition: 0.2s ease;
                    width: 18px;
                    height: 15px;
                    outline: none;
                    border: none;
                    &:focus {
                        background-color: $hover;
                    }
                }
            }
            &-main-three {
                background-image: url(../img/city-house-3.png);
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                align-items: flex-end;
                height: 415px;
                &__item {
                    margin-left: 32px;
                    margin-bottom: 41px;
                
                }
                &__title {
                    margin: 0;
                    font-size: 2.5rem;
                    color: white;
                    font-weight: bold;
                }
                &__description {
                    color: white;
                    font-size: 1.33rem;
                    line-height: 24px;
                    padding-top: 10px;
                    margin: 0;
                }
                .like {
                    background-color: #302d32;
                    padding-top: 32px;
                    padding-left: 22px;
                    padding-right: 19px;
                    padding-bottom: 11px;
                    margin-left: 127px;
                    margin-bottom: 41px;
                    background-image: url(../img/like.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    cursor: pointer;
                    transition: 0.2s ease;
                    width: 18px;
                    height: 15px;
                    outline: none;
                    border: none;
                    &:focus {
                        background-color: $hover;
                    }
                }
            } 
            &-main-four {
                background-image: url(../img/city-house-4.png);
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                align-items: flex-end;
                height: 415px;
                &__item {
                    margin-left: 32px;
                    margin-bottom: 41px;
                
                }
                &__title {
                    margin: 0;
                    font-size: 2.5rem;
                    color: white;
                    font-weight: bold;
                }
                &__description {
                    color: white;
                    font-size: 1.33rem;
                    line-height: 24px;
                    padding-top: 10px;
                    margin: 0;
                }
                .like {
                    background-color: #302d32;
                    padding-top: 32px;
                    padding-left: 22px;
                    padding-right: 19px;
                    padding-bottom: 11px;
                    margin-left: 87px;
                    margin-bottom: 43px;
                    background-image: url(../img/like.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    cursor: pointer;
                    transition: 0.2s ease;
                    width: 18px;
                    height: 15px;
                    outline: none;
                    border: none;
                    &:focus {
                        background-color: $hover;
                    }
                }
            } 
            &-main-five {
                background-image: url(../img/city-house-5.png);
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                align-items: flex-end;
                height: 415px;
                &__item {
                    margin-left: 32px;
                    margin-bottom: 41px;
                
                }
                &__title {
                    margin: 0;
                    font-size: 2.5rem;
                    color: white;
                    font-weight: bold;
                }
                &__description {
                    color: white;
                    font-size: 1.33rem;
                    line-height: 24px;
                    padding-top: 10px;
                    margin: 0;
                }
                .like {
                    background-color: #302d32;
                    padding-top: 32px;
                    padding-left: 22px;
                    padding-right: 19px;
                    padding-bottom: 11px;
                    margin-left: 112px;
                    margin-bottom: 43px;
                    background-image: url(../img/like.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    cursor: pointer;
                    transition: 0.2s ease;
                    width: 18px;
                    height: 15px;
                    outline: none;
                    border: none;
                    &:focus {
                        background-color: $hover;
                    }
                }
            } 
            &-main-six {
                background-image: url(../img/city-house-6.png);
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                align-items: flex-end;
                height: 415px;
                &__item {
                    margin-left: 32px;
                    margin-bottom: 41px;
                
                }
                &__title {
                    margin: 0;
                    font-size: 2.5rem;
                    color: white;
                    font-weight: bold;
                }
                &__description {
                    color: white;
                    font-size: 1.33rem;
                    line-height: 24px;
                    padding-top: 10px;
                    margin: 0;
                }
                .like {
                    background-color: #302d32;
                    padding-top: 32px;
                    padding-left: 22px;
                    padding-right: 19px;
                    padding-bottom: 11px;
                    margin-left: 137px;
                    margin-bottom: 43px;
                    background-image: url(../img/like.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    cursor: pointer;
                    transition: 0.2s ease;
                    width: 18px;
                    height: 15px;
                    outline: none;
                    border: none;
                    &:focus {
                        background-color: $hover;
                    }
                } 

            &__child {
                width: 463px;
                height: 545px;
                border: 1px solid black;
            }
            &-price {
                font-weight: bold;
                font-size: 2.5rem;
                line-height: 60px;
                margin: 0;
                padding-left: 33px;
                padding-top: 7px;
                @media (max-width: 1286px) {
                    padding-top: 0;
                }
            }
        }
        }
    }
    .see-more-button {
        display: flex;
        justify-content: center;
        opacity: 0.8;
        transition: 0.2s ease;
        margin-bottom: 141px;
        &:hover {
            opacity: 1;
        }
        .see-more-link {
            text-decoration: none;
            font-size: 1.33rem;
            line-height: 24px;
            padding-right: 16px;
            color: #302d32;
        }
        img {
            width: 7px;
            height: 12px;
            padding-top: 6px;
        }
    }
}

.section-plan {
    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            font-size: 3.33rem;
            padding-bottom: 19px;
            line-height: 60px;
            @media (max-width: 350px) {
                font-size: 1.66rem;
                line-height: 60px;
                height: 53px;
                padding-bottom: 0;
            }
        }
    }
    &__description {
        font-size: 1.33rem;
        line-height: 24px;
        text-align: center;
        padding-bottom: 52px;
        margin: 0;
        @media (max-width: 350px) {
            font-size: 1rem;
            line-height: 18px;
            padding-bottom: 0;
        }
    }
    &__buttons {
        display: flex;
        justify-content: center;
    }
    .buttons-list {
        display: flex;
        &-item {
            border: none;
            background: none;
            font-size: 1.5rem;
            line-height: 80px;
            text-transform: uppercase;
            padding: 0;
            font-weight: bold;
            letter-spacing: 3px;
            opacity: 0.3;
            transition: 0.2s ease;
            margin-right: 60px;
            margin-left: 60px;
            margin-bottom: 34px;
            @media (max-width: 350px) {
                letter-spacing: 1px;
                margin-bottom: 0;
                margin-left: 15px;
                margin-right: 15px;
                font-size: 0.83rem;
            }
            @media (max-width: 790px) {
                font-size: 1.2rem;
                margin-right: 20px;
                margin-left: 20px;
            }
            &:first-child {
                margin-left: 104px;
                @media (max-width: 790px) {
                    margin-left: 0;
                }
            }
            &:focus {
                opacity: 1;
                outline: none;
            } 
        }
        &__line {
            background-color: #282828;
            height: 24px;
            width: 1px;
            @media (max-width: 350px) {
                height: 16px;
            }
            margin-top: 30px;
        }
    }
}

.plan {
    margin-bottom: 146px;
    height: 630px;
    background-image: url(../img/plan-map.png);
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    background-size: cover;
    @media (max-width: 350px) {
        height: 248px;
        margin-bottom: 38px;
    }
    &-one {
        width: 181px;
        height: 116px;
        left: 13%;
        top: 33%;
        position: absolute;
        display: inline-block;
        transition: 0.2s ease;
        cursor: pointer;
        @media (max-width: 790px) {
            display: none;
        }
        &__text {
            visibility: hidden;
            opacity: 0;
            width: 123px;
            background-color: #302d32;
            color: #fffffe;
            text-transform: uppercase;
            text-align: center;
            padding: 17px 7px;
            position: absolute;
            z-index: 1;
            bottom: 94%;
            left: 49%;
            margin-left: -60px;
            font-weight: bold;
            letter-spacing: 2px;
            transition: .55s opacity, .55s visibility;
            &::after {
                content: " ";
                position: absolute;
                top: 100%; /* At the bottom of the tooltip */
                left: 50%;
                margin-left: -5px;
                border-width: 10px;
                border-style: solid;
                border-color: $black transparent transparent transparent;
            }
        }
        
    }
    &-two {
        position: absolute;
        width: 257px;
        height: 192px;
        left: 23%;
        top: 65%;
        display: inline-block;
        transition: 0.2s ease;
        cursor: pointer;
        @media (max-width: 790px) {
            display: none;
        }
        &__text {
            visibility: hidden;
            opacity: 0;
            width: 162px;
            background-color: #302d32;
            color: #fffffe;
            text-transform: uppercase;
            text-align: center;
            padding: 6px 7px;
            position: absolute;
            z-index: 1;
            bottom: 116%;
            left: 55%;
            margin-left: -136px;
            font-weight: bold;
            letter-spacing: 2px;
            transition: .55s opacity, .55s visibility;
            .text-description {
                text-transform: none;
                font-size: 1rem;
                line-height: 18px;
                font-weight: none;
                letter-spacing: 0;

            }
            &::after {
                content: " ";
                position: absolute;
                top: 100%; /* At the bottom of the tooltip */
                left: 50%;
                margin-left: -5px;
                border-width: 10px;
                border-style: solid;
                border-color: $black transparent transparent transparent;
            }
        }
    }
    &-three {
        position: absolute;
        width: 171px;
        height: 76px;
        left: 50%;
        top: 14%;
        display: inline-block;
        transition: 0.2s ease;
        cursor: pointer;
        @media (max-width: 790px) {
            display: none;
        }
        &__text {
            visibility: hidden;
            opacity: 0;
            width: 123px;
            background-color: #302d32;
            color: #fffffe;
            text-transform: uppercase;
            text-align: center;
            padding: 17px 7px;
            position: absolute;
            z-index: 1;
            bottom: 94%;
            left: 49%;
            margin-left: -60px;
            font-weight: bold;
            letter-spacing: 2px;
            transition: .55s opacity, .55s visibility;
            &::after {
                content: " ";
                position: absolute;
                top: 100%; /* At the bottom of the tooltip */
                left: 50%;
                margin-left: -5px;
                border-width: 10px;
                border-style: solid;
                border-color: $black transparent transparent transparent;
            }
        }
    }
    &-four {
        position: absolute;
        width: 266px;
        height: 154px;
        left: 66%;
        top: 20%;
        display: inline-block;
        transition: 0.2s ease;
        cursor: pointer;
        @media (max-width: 790px) {
            display: none;
        }
        &__text {
            visibility: hidden;
            opacity: 0;
            width: 123px;
            background-color: #302d32;
            color: #fffffe;
            text-transform: uppercase;
            text-align: center;
            padding: 17px 7px;
            position: absolute;
            z-index: 1;
            bottom: 94%;
            left: 49%;
            margin-left: -60px;
            font-weight: bold;
            letter-spacing: 2px;
            transition: .55s opacity, .55s visibility;
            &::after {
                content: " ";
                position: absolute;
                top: 100%; /* At the bottom of the tooltip */
                left: 50%;
                margin-left: -5px;
                border-width: 10px;
                border-style: solid;
                border-color: $black transparent transparent transparent;
            }
        }
    }
    &-five {
        position: absolute;
        width: 205px;
        height: 104px;
        right: 9%;
        top: 10%;
        display: inline-block;
        transition: 0.2s ease;
        cursor: pointer;
        @media (max-width: 790px) {
            display: none;
        }
        &__text {
            visibility: hidden;
            opacity: 0;
            width: 123px;
            background-color: #302d32;
            color: #fffffe;
            text-transform: uppercase;
            text-align: center;
            padding: 17px 7px;
            position: absolute;
            z-index: 1;
            bottom: 94%;
            left: 49%;
            margin-left: -60px;
            font-weight: bold;
            letter-spacing: 2px;
            transition: .55s opacity, .55s visibility;
            &::after {
                content: " ";
                position: absolute;
                top: 100%; /* At the bottom of the tooltip */
                left: 50%;
                margin-left: -5px;
                border-width: 10px;
                border-style: solid;
                border-color: $black transparent transparent transparent;
            }
        }
    }
}

.plan-one:hover {
            .plan-one__text {
                visibility: visible;
                opacity: 1;
            }
        }

.plan-two:hover {
            .plan-two__text {
                visibility: visible;
                opacity: 1;
            }
        }

        .plan-three:hover {
            .plan-three__text {
                visibility: visible;
                opacity: 1;
            }
        }

        .plan-four:hover {
            .plan-four__text {
                visibility: visible;
                opacity: 1;
            }
        }

        .plan-five:hover {
            .plan-five__text {
                visibility: visible;
                opacity: 1;
            }
        }


.section-about-company {
    padding-bottom: 168px;
    @media (max-width: 350px) {
        padding-bottom: 33px;
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 28px;
        h2 {
            font-size: 3.33rem;
            padding-bottom: 19px;
            line-height: 60px;
            @media (max-width: 350px) {
                font-size: 1.66rem;
                line-height: 60px;
                height: 53px;
                padding-bottom: 0;
            }
        }
    }
    &__description {
        font-size: 1.33rem;
        line-height: 24px;
        text-align: center;
        padding-bottom: 52px;
        margin: 0;
        @media (max-width: 350px) {
            font-size: 1rem;
            line-height: 18px;
            padding-bottom: 0;
        }
    }
    .about-company-list {
        display: flex;
        flex-wrap: wrap;
    }
    .about-company-item {
        display: flex;
        flex-direction: column;
        img {
            align-self: center;
            padding-bottom: 16px;
            @media (max-width: 350px) {
                padding-bottom: 0;
            }
        }
        &__description {
            font-size: 1rem;
            line-height: 18px;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 3px;
            text-align: center;
            @media (max-width: 350px) {
                font-size: 0.83rem;
                letter-spacing: 1px;
            }
        }
    }
    .item-one {
       width: 25%;
       @media (max-width: 740px) {
        width: 50%;
       }
    }
    .item-two {
        width: 25%;
        @media (max-width: 740px) {
            width: 50%;
           }
    }
    .item-three {
        width: 25%;
        @media (max-width: 740px) {
            width: 50%;
           }
    }
    .item-four {
        width: 25%;
        @media (max-width: 740px) {
            width: 50%;
           }
    }
}

.section-our-news {
    padding-bottom: 198px;
    @media (max-width: 350px) {
        padding-bottom: 81px;
    }
    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            font-size: 3.33rem;
            padding-bottom: 19px;
            line-height: 60px;
            @media (max-width: 350px) {
                font-size: 1.66rem;
                line-height: 60px;
                height: 53px;
                padding-bottom: 0;
            }
        }
    }
    &__description {
        font-size: 1.33rem;
        line-height: 24px;
        text-align: center;
        padding-bottom: 92px;
        margin: 0;
        @media (max-width: 350px) {
            font-size: 1rem;
            line-height: 18px;
            padding-bottom: 0;
        }
    }
    .slider-two {
        @media (max-width: 1035px) {
            .slick-prev,
.slick-next {
    display: none!important;
}
.slick-dots {
    display: flex;
    text-indent: -9999px;
    list-style-type: none;
    justify-content: center;
    padding-top: 20px;
    @media (max-width: 350px) {
        padding-top: 29px;
    }
    & > li {
        width: 8px;
        height: 8px;
        background: gray;
        margin-right: 10px;
        margin-left: 10px;
        opacity: 0.9;
        @media (max-width: 350px) {
            width: 6px;
            height: 6px;
            margin-right: 5px;
            margin-left: 5px;
        }
        cursor: pointer;
        margin-right: 7px;
         margin-left: 7px;
    }
    & > li.slick-active {
        background: $black;
    }
}
        }
        .slick-slide img {
            display: inline-block;
        }
        
        .slick-prev,
        .slick-next {
            display: block;
            position: absolute;
            background-color: transparent;
            border: none;
            top: -38px;
            text-indent: -9999px;
            background-repeat: no-repeat;
            opacity: 0.3;
            transition: 0.2s ease;
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
            &:focus {
                outline: none;
            }
        }
        .slick-prev {
            right: 48px;
            background-image: url(../img/previous-arrow.png);
            border-top: 1px solid black;
            background-position: center center;
            border-left: 1px solid black;
            border-bottom: 1px solid black;
            border-right: 1px solid black;
            padding-top: 11px;
            padding-bottom: 1px;
            padding-left: 13px;
            padding-right: 13px;
        }

        .slick-next {
            right: 0;
            background-image: url(../img/next-arrow.png);
            border-top: 1px solid black;
            background-position: center center;
            border-left: 1px solid black;
            border-bottom: 1px solid black;
            border-right: 1px solid black;
            padding-top: 11px;
            padding-bottom: 1px;
            padding-left: 13px;
            padding-right: 13px;
        }
        &__child {
            width: 463px;
            height: 399px;
            border: 1px solid black;
            overflow: hidden;
            position: relative;
            margin-left: 14px;
            margin-right: 14px;
            margin-top: 19px;
            @media (max-width: 350px) {
                height: 245px;
            }
            &:hover {
                .see-more-link {
                    color: $white;
                }
                color: $white;
                .background-image {
                    transform: translate(0,0);
                }
            }
            .background-image {
                background-image: url(../img/slider-two-background.png);
                width: 463px;
                height: 399px;
                position: absolute;
                z-index: -1;
                transform: translate(0, 399px);
                transition: 0.2s ease;
            }
            &-content {
                position: absolute;
                overflow: hidden;
                height: 399px;
                padding-top: 167px;
                padding-left: 28px;
                @media (max-width: 1286px) {
                    padding-top: 138px;
                }
                @media (max-width: 1268px) {
                    padding-top: 107px;
                }
                @media (max-width: 1268px) {
                    padding-top: 73px;
                }
                @media (max-width: 350px) {
                    padding-top: 66px;
                    padding-left: 5px;
                }
            }
            .news-date {
                margin: 0;
                font-size: 1rem;
                line-height: 18px;
                padding-bottom: 10px;
            }
            .news-description {
                margin: 0;
                font-size: 1.33rem;
                line-height: 24px;
                padding-bottom: 22px;
                @media (max-width: 350px) {
                    font-size: 1rem;
                    line-height: 13px;
                    padding-bottom: 5px;
                }
            }
            .see-more-link {
                font-size: 1.33rem;
                line-height: 24px;
                padding-right: 15px;
                color: rgb(48, 45, 50);
                text-decoration: none;
                @media (max-width: 350px) {
                    font-size: 1rem;
                    line-height: 24px;
                }
            }
        }
    }
}
