@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

:root {
    font-size: 12px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 100%;
    max-width: 1430px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

input[type='range'] {
    width: 362px;
    -webkit-appearance: none;
    background-color: #d6d5d6;
    &:focus {
        outline: none;
    }
}

input[type='range']::-webkit-slider-runnable-track {
    height: 2px;
    -webkit-appearance: none;
    color: #13bba4;
    margin-top: -1px;
}

input[type='range']::-webkit-slider-thumb {
    width: 6px;
    -webkit-appearance: none;
    height: 6px;
    cursor: pointer;
    background: black;
    margin-top: -1px;
}

input[type="range"]::-moz-range-progress {
    background-color: #43e5f7; 
}
input[type="range"]::-moz-range-track {  
    background-color: #9a905d;
}
input[type="range"]::-ms-fill-lower {
    background-color: #43e5f7; 
}
input[type="range"]::-ms-fill-upper {  
    background-color: #9a905d;
}

.input-one,
.input-two {
    position: relative;
    width: 362px;
    margin-left: 55px;
}

.zero-scale {
    position: absolute;
    font-size: 1.33rem;
}

.square {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: black;
    top: 7px;
    z-index: 1;
}

.final-scale {
    position: absolute;
    right: -17px;
    bottom: -37px;
    font-size: 1.33rem;
}

.section-filters {
     select  {
        text-align: center!important;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    .input-fields {
        display: flex;
        &-item {
            padding-right: 30px;
            &:last-child {
                padding: 0;
            }
        }
        .input-area {
            display: flex;
            margin-bottom: 26px;
            .input-title {
                margin: 0;
                font-size: 1.33rem;
                border-top: 1px solid $black;
                border-left: 1px solid $black;
                border-bottom: 1px solid $black;
                width: 240px;
                height: 56px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                &::after {
                    content: "м2";
                    display: inline-block;
                    position: absolute;
                    right: -200px;
                }
            }
            input[type='number'] {
                -moz-appearance:textfield;
            }
            
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }
            input {
                width: 240px;
                height: 54px;
                font-size: 1.33rem;
                text-align: center;
                border: 1px solid $black;
                &:focus {
                    outline: none;
                }
                &::-webkit-input-placeholder {
                    color: #c0c0c1;
                    }
            }
        }
        .input-price {
            display: flex;
            margin-bottom: 26px;
            .input-title {
                margin: 0;
                font-size: 1.33rem;
                border-top: 1px solid $black;
                border-left: 1px solid $black;
                border-bottom: 1px solid $black;
                width: 240px;
                height: 56px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                &::after {
                    content: "тыс.";
                    display: inline-block;
                    position: absolute;
                    right: -200px;
                }
            }
            input[type='number'] {
                -moz-appearance:textfield;
            }
            
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }
            input {
                width: 240px;
                height: 54px;
                font-size: 1.33rem;
                text-align: center;
                border: 1px solid $black;
                &:focus {
                    outline: none;
                }
                &::-webkit-input-placeholder {
                    color: #c0c0c1;
                    }
            }
        }
    }
    .select-fields {
        padding-bottom: 30px;
    }

    #object-type,
    #living-area {
        width: 320px;
        height: 60px;
        font-size: 1.33rem;
        margin-right: -4px;
        border: 1px solid $black;
        text-align-last: center;
        &:active {
            border: 1px solid $hover;
        }
        &:focus {
            outline: none;
        }
    }
}

.section-slider-one {
    padding-top: 140px;
    padding-bottom: 143px;
    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        font-size: 40px;
        padding-bottom: 10px;
        line-height: 60px;
    }
    &__description {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        padding-bottom: 80px;
    }

    &__line {
        width: 1309px;
        height: 1px;
        background-color: #c0c0c1;
        margin-bottom: 23px;
    }
    

    .slider-one {
        .slick-prev,
        .slick-next {
            display: block;
            position: absolute;
            background-color: transparent;
            border: none;
            top: -38px;
            text-indent: -9999px;
            background-repeat: no-repeat;
            opacity: 0.3;
            transition: 0.2s ease;
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
            &:focus {
                outline: none;
            }
        }
        .slick-prev {
            right: 48px;
            background-image: url(../img/previous-arrow.png);
            border-top: 1px solid black;
            background-position: center center;
            border-left: 1px solid black;
            border-bottom: 1px solid black;
            border-right: 1px solid black;
            padding-top: 11px;
            padding-bottom: 1px;
            padding-left: 13px;
            padding-right: 13px;
        }

        .slick-next {
            right: 0;
            background-image: url(../img/next-arrow.png);
            border-top: 1px solid black;
            background-position: center center;
            border-left: 1px solid black;
            border-bottom: 1px solid black;
            border-right: 1px solid black;
            padding-top: 11px;
            padding-bottom: 1px;
            padding-left: 13px;
            padding-right: 13px;
        }
        img {
            width: 18px;
            height: 18px;
        }
        &__item {
            padding: 20px;
            box-sizing: border-box;
            position: relative;
        }
        &-main-first {
            background-image: url(../img/home-image-1.png);
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            align-items: flex-end;
            height: 415px;
            &__item {
                margin-left: 32px;
                margin-bottom: 41px;
                .like {
                    background-color: #302d32;
                    padding-top: 32px;
                    padding-left: 22px;
                    padding-right: 19px;
                    padding-bottom: 11px;
                    margin-left: 63px;
                    background-image: url(../img/like.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    cursor: pointer;
                    transition: 0.2s ease;
                    width: 18px;
                    height: 15px;
                    outline: none;
                    border: none;
                    &:focus {
                        background-color: $hover;
                    }
                }
            }
            &__title {
                margin: 0;
                font-size: 30px;
                color: white;
                font-weight: bold;
            }
            &__description {
                color: white;
                font-size: 16px;
                line-height: 24px;
                padding-top: 10px;
                margin: 0;
            }
        }
        &-main-second {
            background-image: url(../img/home-image-2.png);
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            align-items: flex-end;
            height: 415px;
            &__item {
                margin-left: 32px;
                margin-bottom: 41px;
                .like {
                    background-color: #302d32;
                    padding-top: 32px;
                    padding-left: 22px;
                    padding-right: 19px;
                    padding-bottom: 11px;
                    margin-left: 102px;
                    background-image: url(../img/like.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    cursor: pointer;
                    transition: 0.2s ease;
                    width: 18px;
                    height: 15px;
                    outline: none;
                    border: none;
                    &:focus {
                        background-color: $hover;
                    }
                }
            }
            &__title {
                margin: 0;
                font-size: 30px;
                color: white;
                font-weight: bold;
            }
            &__description {
                color: white;
                font-size: 16px;
                line-height: 24px;
                padding-top: 10px;
                margin: 0;
            }
        }
        &-main-third {
            background-image: url(../img/home-image-3.png);
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            align-items: flex-end;
            height: 415px;
            &__item {
                margin-left: 32px;
                margin-bottom: 41px;
                .like {
                    background-color: #302d32;
                    padding-top: 32px;
                    padding-left: 22px;
                    padding-right: 19px;
                    padding-bottom: 11px;
                    margin-left: 92px;
                    background-image: url(../img/like.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    cursor: pointer;
                    transition: 0.2s ease;
                    width: 18px;
                    height: 15px;
                    outline: none;
                    border: none;
                    &:focus {
                        background-color: $hover;
                    }
                }
            }
            &__title {
                margin: 0;
                font-size: 30px;
                color: white;
                font-weight: bold;
            }
            &__description {
                color: white;
                font-size: 16px;
                line-height: 24px;
                padding-top: 10px;
                margin: 0;
            }
        }
        &-info {
            display: flex;
            padding-left: 32px;
            padding-top: 25px;
            &__item {
                display: flex;
                padding-right: 34px;
                .slider-one-info-text {
                    font-size: 16px;
                    line-height: 24px;
                    margin-bottom: 0;
                }
                .text-one {
                    padding-left: 10px;
                    margin: 0;
                }
                .text-two {
                    padding-left: 10px;
                    margin: 0;
                }
                .text-three {
                    padding-left: 12px;
                    margin: 0;
                }
            }
        }
        &__child {
            width: 454px;
            height: 545px;
            border: 1px solid black;
        }
        &-price {
            font-weight: bold;
            font-size: 30px;
            line-height: 60px;
            margin: 0;
            padding-left: 33px;
            padding-top: 7px;
        }
    }
}

.section-city-house {
    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h2 {
        font-size: 40px;
        padding-bottom: 28px;
        line-height: 60px;
    }
    &__description {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        padding-bottom: 82px;
        margin: 0;
    }
    .catalog {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 51px;
        &-item {
            width: 465px;
            height: 545px;
            border: 1px solid black;
            margin-bottom: 20px;
            img {
                height: 18px;
                width: 18px;
            }
            &-main-one {
                background-image: url(../img/city-house-1.png);
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                align-items: flex-end;
                height: 415px;
                &__item {
                    margin-left: 32px;
                    margin-bottom: 41px;
                
                }
                &__title {
                    margin: 0;
                    font-size: 30px;
                    color: white;
                    font-weight: bold;
                }
                &__description {
                    color: white;
                    font-size: 16px;
                    line-height: 24px;
                    padding-top: 10px;
                    margin: 0;
                }
                .like {
                    background-color: #302d32;
                    padding-top: 32px;
                    padding-left: 22px;
                    padding-right: 19px;
                    padding-bottom: 11px;
                    margin-left: 98px;
                    margin-bottom: 43px;
                    background-image: url(../img/like.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    cursor: pointer;
                    transition: 0.2s ease;
                    width: 18px;
                    height: 15px;
                    outline: none;
                    border: none;
                    &:focus {
                        background-color: $hover;
                    }
                }
            }
            &-main-two {
                background-image: url(../img/city-house-2.png);
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                align-items: flex-end;
                height: 415px;
                &__item {
                    margin-left: 32px;
                    margin-bottom: 41px;
                
                }
                &__title {
                    margin: 0;
                    font-size: 30px;
                    color: white;
                    font-weight: bold;
                }
                &__description {
                    color: white;
                    font-size: 16px;
                    line-height: 24px;
                    padding-top: 10px;
                    margin: 0;
                }
                .like {
                    background-color: #302d32;
                    padding-top: 32px;
                    padding-left: 22px;
                    padding-right: 19px;
                    padding-bottom: 11px;
                    margin-left: 133px;
                    margin-bottom: 43px;
                    background-image: url(../img/like.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    cursor: pointer;
                    transition: 0.2s ease;
                    width: 18px;
                    height: 15px;
                    outline: none;
                    border: none;
                    &:focus {
                        background-color: $hover;
                    }
                }
            }
            &-main-three {
                background-image: url(../img/city-house-3.png);
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                align-items: flex-end;
                height: 415px;
                &__item {
                    margin-left: 32px;
                    margin-bottom: 41px;
                
                }
                &__title {
                    margin: 0;
                    font-size: 30px;
                    color: white;
                    font-weight: bold;
                }
                &__description {
                    color: white;
                    font-size: 16px;
                    line-height: 24px;
                    padding-top: 10px;
                    margin: 0;
                }
                .like {
                    background-color: #302d32;
                    padding-top: 32px;
                    padding-left: 22px;
                    padding-right: 19px;
                    padding-bottom: 11px;
                    margin-left: 127px;
                    margin-bottom: 41px;
                    background-image: url(../img/like.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    cursor: pointer;
                    transition: 0.2s ease;
                    width: 18px;
                    height: 15px;
                    outline: none;
                    border: none;
                    &:focus {
                        background-color: $hover;
                    }
                }
            } 
            &-main-four {
                background-image: url(../img/city-house-4.png);
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                align-items: flex-end;
                height: 415px;
                &__item {
                    margin-left: 32px;
                    margin-bottom: 41px;
                
                }
                &__title {
                    margin: 0;
                    font-size: 30px;
                    color: white;
                    font-weight: bold;
                }
                &__description {
                    color: white;
                    font-size: 16px;
                    line-height: 24px;
                    padding-top: 10px;
                    margin: 0;
                }
                .like {
                    background-color: #302d32;
                    padding-top: 32px;
                    padding-left: 22px;
                    padding-right: 19px;
                    padding-bottom: 11px;
                    margin-left: 87px;
                    margin-bottom: 43px;
                    background-image: url(../img/like.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    cursor: pointer;
                    transition: 0.2s ease;
                    width: 18px;
                    height: 15px;
                    outline: none;
                    border: none;
                    &:focus {
                        background-color: $hover;
                    }
                }
            } 
            &-main-five {
                background-image: url(../img/city-house-5.png);
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                align-items: flex-end;
                height: 415px;
                &__item {
                    margin-left: 32px;
                    margin-bottom: 41px;
                
                }
                &__title {
                    margin: 0;
                    font-size: 30px;
                    color: white;
                    font-weight: bold;
                }
                &__description {
                    color: white;
                    font-size: 16px;
                    line-height: 24px;
                    padding-top: 10px;
                    margin: 0;
                }
                .like {
                    background-color: #302d32;
                    padding-top: 32px;
                    padding-left: 22px;
                    padding-right: 19px;
                    padding-bottom: 11px;
                    margin-left: 112px;
                    margin-bottom: 43px;
                    background-image: url(../img/like.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    cursor: pointer;
                    transition: 0.2s ease;
                    width: 18px;
                    height: 15px;
                    outline: none;
                    border: none;
                    &:focus {
                        background-color: $hover;
                    }
                }
            } 
            &-main-six {
                background-image: url(../img/city-house-6.png);
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                align-items: flex-end;
                height: 415px;
                &__item {
                    margin-left: 32px;
                    margin-bottom: 41px;
                
                }
                &__title {
                    margin: 0;
                    font-size: 30px;
                    color: white;
                    font-weight: bold;
                }
                &__description {
                    color: white;
                    font-size: 16px;
                    line-height: 24px;
                    padding-top: 10px;
                    margin: 0;
                }
                .like {
                    background-color: #302d32;
                    padding-top: 32px;
                    padding-left: 22px;
                    padding-right: 19px;
                    padding-bottom: 11px;
                    margin-left: 137px;
                    margin-bottom: 43px;
                    background-image: url(../img/like.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    cursor: pointer;
                    transition: 0.2s ease;
                    width: 18px;
                    height: 15px;
                    outline: none;
                    border: none;
                    &:focus {
                        background-color: $hover;
                    }
                }
            }   
            &-info {
                display: flex;
                padding-left: 33px;
                padding-top: 27px;
                &__item {
                    display: flex;
                    padding-right: 34px;
                    .catalog-item-info-text {
                        font-size: 16px;
                        line-height: 24px;
                        margin-bottom: 0;
                    }
                    .text-one {
                        padding-left: 10px;
                        margin: 0;
                    }
                    .text-two {
                        padding-left: 10px;
                        margin: 0;
                    }
                    .text-three {
                        padding-left: 12px;
                        margin: 0;
                    }
                }
            }
            &__child {
                width: 463px;
                height: 545px;
                border: 1px solid black;
            }
            &-price {
                font-weight: bold;
                font-size: 30px;
                line-height: 60px;
                margin: 0;
                padding-left: 33px;
                padding-top: 7px;
            }
        }
    }
    .see-more-button {
        display: flex;
        justify-content: center;
        opacity: 0.8;
        transition: 0.2s ease;
        margin-bottom: 141px;
        &:hover {
            opacity: 1;
        }
        .see-more-link {
            text-decoration: none;
            font-size: 16px;
            line-height: 24px;
            padding-right: 16px;
            color: #302d32;
        }
        img {
            width: 7px;
            height: 12px;
            padding-top: 6px;
        }
    }
}

.section-plan {
    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            font-size: 40px;
            padding-bottom: 19px;
            line-height: 60px;
        }
    }
    &__description {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        padding-bottom: 52px;
        margin: 0;
    }
    &__buttons {
        display: flex;
        justify-content: center;
    }
    .buttons-list {
        display: flex;
        &-item {
            border: none;
            background: none;
            font-size: 18px;
            line-height: 80px;
            text-transform: uppercase;
            padding: 0;
            font-weight: bold;
            letter-spacing: 3px;
            opacity: 0.3;
            transition: 0.2s ease;
            margin-right: 60px;
            margin-left: 60px;
            margin-bottom: 34px;
            &:first-child {
                margin-left: 104px;
            }
            &:focus {
                opacity: 1;
                outline: none;
            } 
        }
        &__line {
            background-color: #282828;
            height: 24px;
            width: 1px;
            margin-top: 30px;
        }
    }
}

.plan {
    margin-bottom: 140px;
    height: 630px;
    background-image: url(../img/plan-map.png);
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    &-one {
        width: 181px;
        height: 116px;
        left: 256px;
        top: 200px;
        position: absolute;
        display: inline-block;
        transition: 0.2s ease;
        cursor: pointer;
        &__text {
            visibility: hidden;
            opacity: 0;
            width: 123px;
            background-color: #302d32;
            color: #fffffe;
            text-transform: uppercase;
            text-align: center;
            padding: 17px 7px;
            position: absolute;
            z-index: 1;
            bottom: 94%;
            left: 49%;
            margin-left: -60px;
            font-weight: bold;
            letter-spacing: 2px;
            transition: .55s opacity, .55s visibility;
            &::after {
                content: " ";
                position: absolute;
                top: 100%; /* At the bottom of the tooltip */
                left: 50%;
                margin-left: -5px;
                border-width: 10px;
                border-style: solid;
                border-color: $black transparent transparent transparent;
            }
        }
        
    }
    &-two {
        position: absolute;
        width: 257px;
        height: 192px;
        left: 394px;
        top: 407px;
        display: inline-block;
        transition: 0.2s ease;
        cursor: pointer;
        &__text {
            visibility: hidden;
            opacity: 0;
            width: 162px;
            background-color: #302d32;
            color: #fffffe;
            text-transform: uppercase;
            text-align: center;
            padding: 6px 7px;
            position: absolute;
            z-index: 1;
            bottom: 116%;
            left: 55%;
            margin-left: -136px;
            font-weight: bold;
            letter-spacing: 2px;
            transition: .55s opacity, .55s visibility;
            .text-description {
                text-transform: none;
                font-size: 12px;
                line-height: 18px;
                font-weight: none;
                letter-spacing: 0;

            }
            &::after {
                content: " ";
                position: absolute;
                top: 100%; /* At the bottom of the tooltip */
                left: 50%;
                margin-left: -5px;
                border-width: 10px;
                border-style: solid;
                border-color: $black transparent transparent transparent;
            }
        }
    }
    &-three {
        position: absolute;
        width: 171px;
        height: 76px;
        left: 880px;
        top: 92px;
        display: inline-block;
        transition: 0.2s ease;
        cursor: pointer;
        &__text {
            visibility: hidden;
            opacity: 0;
            width: 123px;
            background-color: #302d32;
            color: #fffffe;
            text-transform: uppercase;
            text-align: center;
            padding: 17px 7px;
            position: absolute;
            z-index: 1;
            bottom: 94%;
            left: 49%;
            margin-left: -60px;
            font-weight: bold;
            letter-spacing: 2px;
            transition: .55s opacity, .55s visibility;
            &::after {
                content: " ";
                position: absolute;
                top: 100%; /* At the bottom of the tooltip */
                left: 50%;
                margin-left: -5px;
                border-width: 10px;
                border-style: solid;
                border-color: $black transparent transparent transparent;
            }
        }
    }
    &-four {
        position: absolute;
        width: 266px;
        height: 154px;
        left: 1130px;
        top: 121px;
        display: inline-block;
        transition: 0.2s ease;
        cursor: pointer;
        &__text {
            visibility: hidden;
            opacity: 0;
            width: 123px;
            background-color: #302d32;
            color: #fffffe;
            text-transform: uppercase;
            text-align: center;
            padding: 17px 7px;
            position: absolute;
            z-index: 1;
            bottom: 94%;
            left: 49%;
            margin-left: -60px;
            font-weight: bold;
            letter-spacing: 2px;
            transition: .55s opacity, .55s visibility;
            &::after {
                content: " ";
                position: absolute;
                top: 100%; /* At the bottom of the tooltip */
                left: 50%;
                margin-left: -5px;
                border-width: 10px;
                border-style: solid;
                border-color: $black transparent transparent transparent;
            }
        }
    }
    &-five {
        position: absolute;
        width: 205px;
        height: 104px;
        right: 184px;
        top: 67px;
        display: inline-block;
        transition: 0.2s ease;
        cursor: pointer;
        &__text {
            visibility: hidden;
            opacity: 0;
            width: 123px;
            background-color: #302d32;
            color: #fffffe;
            text-transform: uppercase;
            text-align: center;
            padding: 17px 7px;
            position: absolute;
            z-index: 1;
            bottom: 94%;
            left: 49%;
            margin-left: -60px;
            font-weight: bold;
            letter-spacing: 2px;
            transition: .55s opacity, .55s visibility;
            &::after {
                content: " ";
                position: absolute;
                top: 100%; /* At the bottom of the tooltip */
                left: 50%;
                margin-left: -5px;
                border-width: 10px;
                border-style: solid;
                border-color: $black transparent transparent transparent;
            }
        }
    }
}

.plan-one:hover {
            .plan-one__text {
                visibility: visible;
                opacity: 1;
            }
        }

.plan-two:hover {
            .plan-two__text {
                visibility: visible;
                opacity: 1;
            }
        }

        .plan-three:hover {
            .plan-three__text {
                visibility: visible;
                opacity: 1;
            }
        }

        .plan-four:hover {
            .plan-four__text {
                visibility: visible;
                opacity: 1;
            }
        }

        .plan-five:hover {
            .plan-five__text {
                visibility: visible;
                opacity: 1;
            }
        }


.section-about-company {
    padding-bottom: 168px;
    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 28px;
        h2 {
            font-size: 40px;
            padding-bottom: 19px;
            line-height: 60px;
        }
    }
    &__description {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        padding-bottom: 52px;
        margin: 0;
    }
    .about-company-list {
        display: flex;
    }
    .about-company-item {
        display: flex;
        flex-direction: column;
        img {
            align-self: center;
            padding-bottom: 16px;
        }
        &__description {
            font-size: 12px;
            line-height: 18px;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 3px;
        }
    }
    .item-one {
        padding-right: 181px;
        padding-left: 135px;
    }
    .item-two {
        padding-right: 182px;
    }
    .item-three {
        padding-right: 196px;
    }
}

.section-our-news {
    padding-bottom: 198px;
    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            font-size: 40px;
            padding-bottom: 19px;
            line-height: 60px;
        }
    }
    &__description {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        padding-bottom: 92px;
        margin: 0;
    }
    .slider-two {
        .slick-slide img {
            display: inline-block;
        }
        
        .slick-prev,
        .slick-next {
            display: block;
            position: absolute;
            background-color: transparent;
            border: none;
            top: -38px;
            text-indent: -9999px;
            background-repeat: no-repeat;
            opacity: 0.3;
            transition: 0.2s ease;
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
            &:focus {
                outline: none;
            }
        }
        .slick-prev {
            right: 48px;
            background-image: url(../img/previous-arrow.png);
            border-top: 1px solid black;
            background-position: center center;
            border-left: 1px solid black;
            border-bottom: 1px solid black;
            border-right: 1px solid black;
            padding-top: 11px;
            padding-bottom: 1px;
            padding-left: 13px;
            padding-right: 13px;
        }

        .slick-next {
            right: 0;
            background-image: url(../img/next-arrow.png);
            border-top: 1px solid black;
            background-position: center center;
            border-left: 1px solid black;
            border-bottom: 1px solid black;
            border-right: 1px solid black;
            padding-top: 11px;
            padding-bottom: 1px;
            padding-left: 13px;
            padding-right: 13px;
        }
        &__child {
            width: 463px;
            height: 399px;
            border: 1px solid black;
            overflow: hidden;
            position: relative;
            margin-left: 14px;
            margin-right: 14px;
            margin-top: 19px;
            &:hover {
                .see-more-link {
                    color: $white;
                }
                color: $white;
                .background-image {
                    transform: translate(0,0);
                }
            }
            .background-image {
                background-image: url(../img/slider-two-background.png);
                width: 463px;
                height: 399px;
                position: absolute;
                z-index: -1;
                transform: translate(0, 399px);
                transition: 0.2s ease;
            }
            &-content {
                position: absolute;
                overflow: hidden;
                width: 463px;
                height: 399px;
                padding-top: 167px;
                padding-left: 28px;
            }
            .news-date {
                margin: 0;
                font-size: 12px;
                line-height: 18px;
                padding-bottom: 10px;
            }
            .news-description {
                margin: 0;
                font-size: 16px;
                line-height: 24px;
                padding-bottom: 22px;
            }
            .see-more-link {
                font-size: 16px;
                line-height: 24px;
                padding-right: 15px;
                color: rgb(48, 45, 50);
                text-decoration: none;
            }
        }
    }
}
