<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Homefor Project</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
        <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
        <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link rel="stylesheet" href="styles/jquery-ui.min.css">
        <link rel="stylesheet" href="styles/main.css">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
        </style>
    </head>
    <body>
        @@include("../blocks/modules/header/header.html") 
        <main>
        <div class="wrapper">
        <section class="section-filters">
            <div class="select-fields">
                <select name="object-type" id="object-type">
                    <option disabled selected>Тип объекта</option>
                    <option>Загородные дома</option>
                    <option>Городские квартиры</option>
                </select>

                <select name="living-area" id="living-area">
                    <option disabled selected>Район</option>
                    <option>Верх-Исетский район</option>
                    <option>Железнодорожный район</option>
                    <option>Чкаловский район</option>
                </select>
            </div>
            <div class="input-fields">
                <div class="input-fields-item">
                    <div class="input-area">
                        <p class="input-title">Площадь</p>
                        <div class="field-with-error">
                          <input type="number"  min="0" max="1000" placeholder="__________">
                    <span class="form-error">Некорректное число</span>  
                        </div>
                    </div>
                    <div class="input-one">
                        <p class="zero-scale">0</p>
                        <div class="square"></div>
                        <input type="range" min="0" max="1000" step="1" value="480"> 
                        <p class="final-scale">1000</p>
                    </div>
                </div>
                <div class="input-fields-item">
                    <div class="input-price">
                       <p class="input-title">Цена за м2</p>
                    <input type="number" placeholder="__________"> 
                    </div>
                    <div class="input-two">
                        <p class="zero-scale">0</p>
                        <div class="square"></div>
                        <input type="range" min="0" max="98000" step="1" value="45000"> 
                        <p class="final-scale">98000</p>
                    </div>
                </div>
            </div>
                <div class="section-filters__buttons">
                    <div class="button-one">
                        <button class="button-one__item">Сбросить фильтры</button>
                        <img src="../img/close.png" alt="">
                    </div>
                    <div class="button-two">
                        <button class="button_show">Показать</button>
                    </div>
                </div>
        </section>
        <section class="section-slider-one">
            <div class="section-slider-one__title">
                <h2>Загородные дома</h2>
                <p class="section-slider-one__description">Наши дома расположились в уютных районах Екатеринбурга:<br>Верх-Исетский район, Железнодорожный район, Чкаловский район.</p>
            </div>
            <div class="section-slider-one__line"></div>
            <div class="slider-one">
                <div class="slider-one__item">
                    <div class="line-hover"></div>
                    <div class="slider-one__child">
                    <div class="slider-one-main-first">
                            <div class="slider-one-main-first__item">
                            <p class="slider-one-main-first__title">Дом&nbsp;“Брусника”</p>
                            <p class="slider-one-main-first__description">ул. Карла Маркса, 60,&nbsp;Екатеринбург</p>
                        </div>
                        <div class="slider-one-main-first__item">
                            <button class="like"></button>
                        </div>
                    </div>
                    <div class="slider-one-info">
                        <div class="slider-one-info__item">
                            <img src="../img/home.png" alt="home">
                            <p class="slider-one-info-text text-one">200&nbsp;м2</p>
                        </div>
                        <div class="slider-one-info__item">
                            <img src="../img/area.png" alt="area">
                            <p class="slider-one-info-text text-two">10&nbsp;сот</p>
                        </div>
                        <div class="slider-one-info__item">
                            <img src="../img/drill.png" alt="Drill">
                            <p class="slider-one-info-text text-three">с&nbsp;отделкой</p>
                        </div>
                    </div>
                    <p class="slider-one-price">7 005 456 500 ₽</p>
                </div>
                </div>
                <div class="slider-one__item">
                  <div class="slider-one__child">
                    <div class="slider-one-main-second">
                            <div class="slider-one-main-second__item">
                            <p class="slider-one-main-second__title">Дом&nbsp;“Трендис”</p>
                            <p class="slider-one-main-second__description">ул. Урицкого, 13,&nbsp;Екатеринбург</p>
                        </div>
                        <div class="slider-one-main-second__item">
                            <button class="like"></button>
                        </div>
                    </div>
                    <div class="slider-one-info">
                        <div class="slider-one-info__item">
                            <img src="../img/home.png" alt="home">
                            <p class="slider-one-info-text text-one">500&nbsp;м2</p>
                        </div>
                        <div class="slider-one-info__item">
                            <img src="../img/area.png" alt="area">
                            <p class="slider-one-info-text text-two">12&nbsp;сот</p>
                        </div>
                        <div class="slider-one-info__item">
                            <img src="../img/drill.png" alt="Drill">
                            <p class="slider-one-info-text text-three">с&nbsp;отделкой</p>
                        </div>
                    </div>
                    <p class="slider-one-price">10 000 234 500 ₽</p>
                </div>  
                </div>
                <div class="slider-one__item">
                   <div class="slider-one__child">
                    <div class="slider-one-main-third">
                            <div class="slider-one-main-third__item">
                            <p class="slider-one-main-third__title">Дом&nbsp;“Панорома”</p>
                            <p class="slider-one-main-third__description">ул. Толстого, 340,&nbsp;Екатеринбург</p>
                        </div>
                        <div class="slider-one-main-third__item">
                            <button class="like"></button>
                        </div>
                    </div>
                    <div class="slider-one-info">
                        <div class="slider-one-info__item">
                            <img src="../img/home.png" alt="home">
                            <p class="slider-one-info-text text-one">150&nbsp;м2</p>
                        </div>
                        <div class="slider-one-info__item">
                            <img src="../img/area.png" alt="area">
                            <p class="slider-one-info-text text-two">13&nbsp;сот</p>
                        </div>
                        <div class="slider-one-info__item">
                            <img src="../img/drill.png" alt="Drill">
                            <p class="slider-one-info-text text-three">с&nbsp;отделкой</p>
                        </div>
                    </div>
                    <p class="slider-one-price">5 045 000 500 ₽</p>
                </div>  
                </div>
               <div class="slider-one__item">
                 <div class="slider-one__child">
                    <div class="slider-one-main-first">
                            <div class="slider-one-main-first__item">
                            <p class="slider-one-main-first__title">Дом&nbsp;“Брусника”</p>
                            <p class="slider-one-main-first__description">ул. Карла Маркса, 60,&nbsp;Екатеринбург</p>
                        </div>
                        <div class="slider-one-main-first__item">
                            <button class="like"></button>
                        </div>
                    </div>
                    <div class="slider-one-info">
                        <div class="slider-one-info__item">
                            <img src="../img/home.png" alt="home">
                            <p class="slider-one-info-text text-one">200&nbsp;м2</p>
                        </div>
                        <div class="slider-one-info__item">
                            <img src="../img/area.png" alt="area">
                            <p class="slider-one-info-text text-two">10&nbsp;сот</p>
                        </div>
                        <div class="slider-one-info__item">
                            <img src="../img/drill.png" alt="Drill">
                            <p class="slider-one-info-text text-three">с&nbsp;отделкой</p>
                        </div>
                    </div>
                    <p class="slider-one-price">7 005 456 500 ₽</p>
                </div>  
               </div>
                <div class="slider-one__item">
                  <div class="slider-one__child">
                    <div class="slider-one-main-second">
                            <div class="slider-one-main-second__item">
                            <p class="slider-one-main-second__title">Дом&nbsp;“Трендис”</p>
                            <p class="slider-one-main-second__description">ул. Урицкого, 13,&nbsp;Екатеринбург</p>
                        </div>
                        <div class="slider-one-main-second__item">
                            <button class="like"></button>
                        </div>
                    </div>
                    <div class="slider-one-info">
                        <div class="slider-one-info__item">
                            <img src="../img/home.png" alt="home">
                            <p class="slider-one-info-text text-one">500&nbsp;м2</p>
                        </div>
                        <div class="slider-one-info__item">
                            <img src="../img/area.png" alt="area">
                            <p class="slider-one-info-text text-two">12&nbsp;сот</p>
                        </div>
                        <div class="slider-one-info__item">
                            <img src="../img/drill.png" alt="Drill">
                            <p class="slider-one-info-text text-three">с&nbsp;отделкой</p>
                        </div>
                    </div>
                    <p class="slider-one-price">10 000 234 500 ₽</p>
                </div>  
                </div>
                <div class="slider-one__item">
                  <div class="slider-one__child">
                    <div class="slider-one-main-third">
                            <div class="slider-one-main-third__item">
                            <p class="slider-one-main-third__title">Дом&nbsp;“Панорома”</p>
                            <p class="slider-one-main-third__description">ул. Толстого, 340,&nbsp;Екатеринбург</p>
                        </div>
                        <div class="slider-one-main-third__item">
                            <button class="like"></button>
                        </div>
                    </div>
                    <div class="slider-one-info">
                        <div class="slider-one-info__item">
                            <img src="../img/home.png" alt="home">
                            <p class="slider-one-info-text text-one">150&nbsp;м2</p>
                        </div>
                        <div class="slider-one-info__item">
                            <img src="../img/area.png" alt="area">
                            <p class="slider-one-info-text text-two">13&nbsp;сот</p>
                        </div>
                        <div class="slider-one-info__item">
                            <img src="../img/drill.png" alt="Drill">
                            <p class="slider-one-info-text text-three">с&nbsp;отделкой</p>
                        </div>
                    </div>
                    <p class="slider-one-price">5 045 000 500 ₽</p>
                </div>  
                </div>
                
                
            </div>
        </section>
        <section class="section-city-house">
            <div class="section-city-house__title">
                <h2>Городские квартиры</h2>
                <p class="section-city-house__description">В каталоге квартир вы найдете актуальные планировки и цены.<br>Это те квартиры, которые есть в продаже сейчас.</p>
            </div>
            <div class="catalog">
                <div class="catalog-item">
                    <div class="catalog-item-main-one">
                        <div class="catalog-item-main-one__item">
                        <p class="catalog-item-main-one__title">Дом “Жуковка”</p>
                        <p class="catalog-item-main-one__description">ул. Карла Маркса, 60, Екатеринбург</p>
                    </div>
                    <button class="like"></button>
                </div>
                <div class="catalog-item-info">
                    <div class="catalog-item-info__item">
                        <img src="../img/home.png" alt="home">
                        <p class="catalog-item-info-text text-one">72 м2</p>
                    </div>
                    <div class="catalog-item-info__item">
                        <img src="../img/drill.png" alt="Drill">
                        <p class="catalog-item-info-text text-three">с отделкой</p>
                    </div>
                </div>
                <p class="catalog-item-price">3 006 435 500 ₽</p>
                </div>
                <div class="catalog-item">
                    <div class="catalog-item-main-two">
                        <div class="catalog-item-main-two__item">
                        <p class="catalog-item-main-two__title">Дом “Парашют”</p>
                        <p class="catalog-item-main-two__description">ул. Зорге, 160, Екатеринбург</p>
                    </div>
                    <button class="like"></button>
                </div>
                <div class="catalog-item-info">
                    <div class="catalog-item-info__item">
                        <img src="../img/home.png" alt="home">
                        <p class="catalog-item-info-text text-one">112 м2</p>
                    </div>
                    <div class="catalog-item-info__item">
                        <img src="../img/drill.png" alt="Drill">
                        <p class="catalog-item-info-text text-three">с отделкой</p>
                    </div>
                </div>
                <p class="catalog-item-price">5 000 974 500 ₽</p>
                </div>
                <div class="catalog-item">
                    <div class="catalog-item-main-three">
                        <div class="catalog-item-main-three__item">
                        <p class="catalog-item-main-three__title">Дом “Весна”</p>
                        <p class="catalog-item-main-three__description">ул. Заречная, 120, Екатеринбург</p>
                    </div>
                    <button class="like"></button>
                </div>
                <div class="catalog-item-info">
                    <div class="catalog-item-info__item">
                        <img src="../img/home.png" alt="home">
                        <p class="catalog-item-info-text text-one">100 м2</p>
                    </div>
                    <div class="catalog-item-info__item">
                        <img src="../img/drill.png" alt="Drill">
                        <p class="catalog-item-info-text text-three">с отделкой</p>
                    </div>
                </div>
                <p class="catalog-item-price">6 120 412 500 ₽</p>
                </div>
                <div class="catalog-item">
                    <div class="catalog-item-main-four">
                        <div class="catalog-item-main-four__item">
                        <p class="catalog-item-main-four__title">Дом “Пионер”</p>
                        <p class="catalog-item-main-four__description">ул. Карла Маркса, 120, Екатеринбург</p>
                    </div>
                    <button class="like"></button>
                </div>
                <div class="catalog-item-info">
                    <div class="catalog-item-info__item">
                        <img src="../img/home.png" alt="home">
                        <p class="catalog-item-info-text text-one">90 м2</p>
                    </div>
                    <div class="catalog-item-info__item">
                        <img src="../img/drill.png" alt="Drill">
                        <p class="catalog-item-info-text text-three">с отделкой</p>
                    </div>
                </div>
                <p class="catalog-item-price">3 120 000 500 ₽</p>
                </div>
                <div class="catalog-item">
                    <div class="catalog-item-main-five">
                        <div class="catalog-item-main-five__item">
                        <p class="catalog-item-main-five__title">Дом “Манхетен”</p>
                        <p class="catalog-item-main-five__description">ул. Московская, 10, Екатеринбург</p>
                    </div>
                    <button class="like"></button>
                </div>
                <div class="catalog-item-info">
                    <div class="catalog-item-info__item">
                        <img src="../img/home.png" alt="home">
                        <p class="catalog-item-info-text text-one">87 м2</p>
                    </div>
                    <div class="catalog-item-info__item">
                        <img src="../img/drill.png" alt="Drill">
                        <p class="catalog-item-info-text text-three">с отделкой</p>
                    </div>
                </div>
                <p class="catalog-item-price">6 000 456 000 ₽</p>
                </div>
                <div class="catalog-item">
                    <div class="catalog-item-main-six">
                        <div class="catalog-item-main-six__item">
                        <p class="catalog-item-main-six__title">Дом “Дружба”</p>
                        <p class="catalog-item-main-six__description">ул. Прашина, 60, Екатеринбург</p>
                    </div>
                    <button class="like"></button>
                </div>
                <div class="catalog-item-info">
                    <div class="catalog-item-info__item">
                        <img src="../img/home.png" alt="home">
                        <p class="catalog-item-info-text text-one">50 м2</p>
                    </div>
                    <div class="catalog-item-info__item">
                        <img src="../img/drill.png" alt="Drill">
                        <p class="catalog-item-info-text text-three">с отделкой</p>
                    </div>
                </div>
                <p class="catalog-item-price">4 012 400 500 ₽</p>
                </div>
            </div>
            <div class="see-more-button">
                <a class="see-more-link" href="#">Смотреть больше</a>
                <img src="../img/see-more-arrow.png"  alt="see-more-arrow">
            </div>
        </section>
        <section class="section-plan">
            <div class="section-plan__title">
                <h2>Генплан</h2>
                <p class="section-plan__description">На генплане вы можете посмотреть территорию покупки. В поселке все предусмотрено.<br>Здесь проведены необходимые коммуникации. Это место влюбляет в себя.</p>
            </div>
            <div class="section-plan__buttons">
                <div class="buttons-list">
                    <button class="buttons-list-item">Загородные&nbsp;дома</button>
                    <div class="buttons-list__line"></div>
                    <button class="buttons-list-item">Городские&nbsp;квартиры</button>
                </div>
            </div>
        </div>
        <div class="plan">
            <div class="plan-one"><p class="plan-one__text">Дом 23</p></div>
            <div class="plan-two"><div class="plan-two__text">Дом 56<br><p class="text-description">Вы можете приобрести<br>10 567 457руб</p></div></div>
            <div class="plan-three"><p class="plan-three__text">Дом 234</p></div>
            <div class="plan-four"><p class="plan-four__text">Дом 116</p></div>
            <div class="plan-five"><p class="plan-five__text">Школа №27</p></div>
        </div>
        </section>
        <div class="wrapper">
            <section class="section-about-company">
                <div class="section-about-company__title">
                    <h2>О компании</h2>
                    <p class="section-about-company__description">Профессиональный оператор рынка элитной недвижимости с 2008 года.<br>HOMEFOR - это сочетание репутации, многолетнего опыта и высокого уровня сервиса.<br>Компания заслужила доверие и признание профессиональных участников рынка.</p>
                </div>
                <div class="about-company-list">
                    <div class="about-company-item item-one">
                        <img src="../img/about-company-exp.png" alt="">
                        <p class="about-company-item__description">Большой опыт<br>в строительстве</p>
                    </div>
                    <div class="about-company-item item-two">
                        <img src="../img/about-company-price.png" alt="">
                        <p class="about-company-item__description">Доступные цены</p>
                    </div>
                    <div class="about-company-item item-three">
                        <img src="../img/about-company-time.png" alt="">
                        <p class="about-company-item__description">Оперативные<br>сроки работы</p>
                    </div>
                    <div class="about-company-item item-four">
                        <img src="../img/about-company-quality.png" alt="">
                        <p class="about-company-item__description">Качественные<br>материалы</p>
                    </div>
                </div>
            </section>
            <section class="section-our-news">
                <div class="section-our-news__title">
                    <h2>Наши новости</h2>
                    <p class="section-our-news__description">Узнай новости компании первым. Мы всегда остаемся в тренде.</p>
                </div>
                <div class="section-slider-one__line"></div>
            <div class="slider-two">
                <div class="slider-two__child">
                    <div class="background-image"></div>
                    <div class="slider-two__child-content">
                        <p class="news-date">02.04.2020</p>
                        <p class="news-description">В 2018 году происходили изменения в главном<br>законе долевого строительства ФЗ-214 для<br>решения с ложной задачи - строительства 120<br>млн квадратных метров жилья нового качества<br>и усиления контроля</p>
                        <div class="see-more-button">
                            <a class="see-more-link" href="#">Смотреть больше</a>
                            <img src="../img/see-more-arrow.png" alt="see-more-arrow">
                        </div>
                    </div>
                </div>
                <div class="slider-two__child">
                    <div class="background-image"></div>
                    <div class="slider-two__child-content">
                        <p class="news-date">02.04.2020</p>
                        <p class="news-description">В 2018 году происходили изменения в главном<br>законе долевого строительства ФЗ-214 для<br>решения с ложной задачи - строительства 120<br>млн квадратных метров жилья нового качества<br>и усиления контроля</p>
                        <div class="see-more-button">
                            <a class="see-more-link" href="#">Смотреть больше</a>
                            <img src="../img/see-more-arrow.png" alt="see-more-arrow">
                        </div>
                    </div>
                </div>
                <div class="slider-two__child">
                    <div class="background-image"></div>
                    <div class="slider-two__child-content">
                        <p class="news-date">02.04.2020</p>
                        <p class="news-description">В 2018 году происходили изменения в главном<br>законе долевого строительства ФЗ-214 для<br>решения с ложной задачи - строительства 120<br>млн квадратных метров жилья нового качества<br>и усиления контроля</p>
                        <div class="see-more-button">
                            <a class="see-more-link" href="#">Смотреть больше</a>
                            <img src="../img/see-more-arrow.png" alt="see-more-arrow">
                        </div>
                    </div>
                </div>
                <div class="slider-two__child">
                    <div class="background-image"></div>
                    <div class="slider-two__child-content">
                        <p class="news-date">02.04.2020</p>
                        <p class="news-description">В 2018 году происходили изменения в главном<br>законе долевого строительства ФЗ-214 для<br>решения с ложной задачи - строительства 120<br>млн квадратных метров жилья нового качества<br>и усиления контроля</p>
                        <div class="see-more-button">
                            <a class="see-more-link" href="#">Смотреть больше</a>
                            <img src="../img/see-more-arrow.png" alt="see-more-arrow">
                        </div>
                    </div>
                </div>
                <div class="slider-two__child">
                    <div class="background-image"></div>
                    <div class="slider-two__child-content">
                        <p class="news-date">02.04.2020</p>
                        <p class="news-description">В 2018 году происходили изменения в главном<br>законе долевого строительства ФЗ-214 для<br>решения с ложной задачи - строительства 120<br>млн квадратных метров жилья нового качества<br>и усиления контроля</p>
                        <div class="see-more-button">
                            <a class="see-more-link" href="#">Смотреть больше</a>
                            <img src="../img/see-more-arrow.png" alt="see-more-arrow">
                        </div>
                    </div>
                </div>
                <div class="slider-two__child">
                    <div class="background-image"></div>
                    <div class="slider-two__child-content">
                        <p class="news-date">02.04.2020</p>
                        <p class="news-description">В 2018 году происходили изменения в главном<br>законе долевого строительства ФЗ-214 для<br>решения с ложной задачи - строительства 120<br>млн квадратных метров жилья нового качества<br>и усиления контроля</p>
                        <div class="see-more-button">
                            <a class="see-more-link" href="#">Смотреть больше</a>
                            <img src="../img/see-more-arrow.png" alt="see-more-arrow">
                        </div>
                    </div>
                </div>
            </div>
            </section>
        </div>
    </main>
    
        @@include("../blocks/modules/footer/footer.html")
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="script/jquery-ui.min.css"></script>
        <script>
            $( function() {
                $("#object-type").selectmenu();
                $("#living-area").selectmenu();
            } );
        </script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script>
            $('.slider').slick({
                dots: true,
                infinite: true,
                autoplay: true,
                autoplaySpeed: 4000,
            });
        </script>
        <script>
            $('.slider-one').slick({
                arrows: true,
                infinite: true,
                autoplay: true,
                autoplaySpeed: 4000,
                slidesToShow: 3,
                slidesToScroll: 1,
                responsive: [
    {
      breakpoint: 1314,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 1,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 805,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        infinite: true,
        dots: true
      }
    }
  ]
});
        </script>
        <script>
            $('.slider-two').slick({
                arrows: true,
                infinite: true,
                autoplay: true,
                autoplaySpeed: 4000,
                slidesToShow: 3,
                slidesToScroll: 1,
                responsive: [
    {
      breakpoint: 1035,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 1,
        infinite: true,
        dots: true
      }
    },
    {
        breakpoint: 537,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        infinite: true,
        dots: true
      }
    }
  ]
});
        </script>
        <script src="js/main.js"></script>
        <script src="js/vendor.js"></script>
    </body>
</html>
