footer {
    border-top: 1px solid #4c494d;
    padding: 0 15px 0 15px;
}

.wrapper {
    width: 100%;
    max-width: 1430px;
    margin: 0 auto;
}

.footer-part-one {
    display: flex;
    padding-top: 59px;
    align-items: center;
    padding-bottom: 19px;
    @media (max-width: 840px) {
        flex-direction: column;
    }
    @media (max-width: 499px) {
        padding-top: 32px;
    }
    img {
        margin-right: 103px;
        @media (max-width: 1093px) {
            margin-right: 38px;
        }
        @media (max-width: 840px) {
            margin-bottom: 17px;
        }
        @media (max-width: 499px) {
            width: 98px;
            margin-right: 8px;
        }
    }
   .footer-menu {
    padding-top: 12px;
    .nav {
        display: flex;
        @media (max-width: 499px) {
            flex-wrap: wrap;
            text-align: center;
            justify-content: space-around;
            align-items: center;
            height: 62px;
        }
        .nav-item {
            padding-right: 48px;
            list-style-type: none;
            @media (max-width: 499px) {
                padding-right: 0;
                flex: 0 0 50%;
            }
            &:last-child {
                padding-right: 0;
            }
            @media (max-width: 880px) {
                padding-right: 27px;
            }
        }
        .nav-link {
            font-size: 1.33rem;
            text-decoration: none;
            color: $black;
            line-height: 24px;
            transition: 0.2s ease;
            @media (max-width: 499px) {
                font-size: 1rem;
                line-height: 18px;
            }
            &:hover {
                color: $hover;
            }
            @media (max-width: 1000px) {
                font-size: 1.2rem;
            }
        }
    }
} 
    .footer-tel {
        text-decoration: none;
        color: $black;
        font-size: 2.83rem;
        font-weight: bold;
        transition: 0.2s ease;
        white-space: nowrap;
        margin-left: 379px;
        @media (max-width: 1465px) {
            margin-left: 20%;
        }
        @media (max-width: 1344px) {
            margin-left: 18%;
        }
        @media (max-width: 1315px) {
            margin-left: 16%;
        }
        @media (max-width: 1279px) {
            margin-left: 14%;
        }
        @media (max-width: 1260px) {
            margin-left: 12%;
        }
        @media (max-width: 1226px) {
            margin-left: 10%;
        }
        @media (max-width: 1208px) {
            margin-left: 7%;
        }
        @media (max-width: 1160px) {
            font-size: 2.5rem;
        }
        @media (max-width: 1122px) {
            font-size: 2.2rem;
        }
        @media (max-width: 1093px) {
            font-size: 2rem;
        }
        @media (max-width: 1000px) {
            font-size: 1.5rem;
        }
        @media (max-width: 917px) {
            margin-left: 4%;
        }
        @media (max-width: 840px) {
            padding-top: 25px;
            margin-left: 0;
        }
        @media (max-width: 499px) {
            padding-top: 19px;
        }
        &:hover {
            color: $hover;
        }
    }
}

  
.footer-part-two {
    display: flex;
    justify-content: space-between;
    @media (max-width: 859px) {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
     }
    .input {
        &-title {
            font-size: 1.33rem;
            line-height: 24px;
            color: $black;
            margin: 0;
            padding-bottom: 9px;
            padding-top: 9px;
            @media (max-width: 620px) {
                text-align: center;
             }
            @media (max-width: 499px) {
                font-size: 1rem;
                line-height: 18px;
             }
        }
        &-content {
            display: flex;
            @media (max-width: 620px) {
                flex-direction: column;
                align-items: center;
            }
        }
        input {
            width: 530px;
            height: 54px;
            @media (max-width: 1212px) {
                width: 467px;
            }
            @media (max-width: 1000px) {
                width: 352px;
            }
            @media (max-width: 499px) {
                width: 281px;
                height: 46px;
            }
            transition: 0.2s ease;
            border: 1px solid $black;
            &:focus {
                outline: none;
                border: 1px solid $hover;
            }
            &::-webkit-input-placeholder {
                color: #c0c3c6;
                font-size: 1.33rem;
                padding-top: 9px;
                @media (max-width: 499px) {
                    font-size: 1rem;
                    line-height: 18px;
                    text-indent: 15px;
                }
            }
            &:invalid:not(:placeholder-shown) {
                border-color: #f61c1d;
            }
            &:invalid:not(:placeholder-shown) {
                border: 1px solid #f22149;
            }
            &:invalid:not(:placeholder-shown) + .form-error {
                opacity: 1;
            }
        }
        .field-with-error {
            display: flex;
            flex-direction: column;
            .form-error {
                text-align: left;
                margin-top: 4px;
                opacity: 0;
                font-size: 1.16rem;
                line-height: 150%;
                color: #f61c1d;
                transition: 0.2s ease; 
            }
        }
        INPUT[type="email"] {
            color: $black;
            font-size: 1.33rem;
            text-indent: 24px;
           }

        .input-submit {
            background-color: #302d32;
            border: none;
            color: white;
            width: 222px;
            height: 60px;
            margin-left: -2px;
            letter-spacing: 3px;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.5rem;
            transition: 0.2s ease;
            cursor: pointer;
            @media (max-width: 499px) {
                font-size: 1.16rem;
                letter-spacing: 2px;
                width: 170px;
                height: 48px;
                margin-bottom: 11px;
            }
            @media (max-width: 620px) {
                margin-bottom: 25px;
            }
            &:hover {
                background-color: $hover;
            }
            &__text {
                padding-top: 6px;
                padding-bottom: 10px;
                @media (max-width: 499px) {
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }
        }
        &-footer {
            font-size: 1.33rem;
            margin: 0;
            color: $black;
            opacity: 0.5;
            cursor: pointer;
            @media (max-width: 859px) {
                display: flex;
                justify-content: center;
             }
             @media (max-width: 499px) {
                font-size: 1rem;
                line-height: 18px;
             }
        }
    }
    &-social {
        @media (max-width: 859px) {
           padding-top: 50px;
        }
        @media (max-width: 499px) {
            padding-top: 37px;
            width: 211px;
        }
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    &__item {
        padding-left: 27px;
        @media (max-width: 499px) {
            padding-left: 0;
        }
    }
    
    &__vk {
        background-image: url(../../../img/vk.png);
        background-color: $black;
        &:hover {
            background-color: $hover;
            border: 2px solid $hover;
        }
    }
    &__inst {
        background-image: url(../../../img/instagram.png);
        background-color: $black;
        &:hover {
            border: 2px solid $hover;
            background-color: $hover; 
        }
    }
    &__fb {
        background-image: url(../../../img/facebook-2.png);
        background-color: $black;
        &:hover {
            background-color: $hover;
            border: 2px solid $hover;
        }
    }
    &__link {
        width: 48px;
        height: 48px;
        border: 2px solid $black;
        border-radius: 100%;
        background-repeat: no-repeat;
        display: block;
        background-position: center center;
        opacity: 0.8;
        transition: 0.2s ease;
    }
}
}

.footer-part-three {
    display: flex;
    justify-content: space-between;
    padding-top: 41px;
    padding-bottom: 52px;
    @media (max-width: 580px) {
        flex-direction: column;
        align-items: center;
     }
    @media (max-width: 499px) {
        padding-top: 24px;
    }
    &__copy {
        color: #979698;
        @media (max-width: 580px) {
            font-size: 0.83rem;
            line-height: 12px;
         }
    }
    &__text {
        color: #979698;
        @media (max-width: 580px) {
            font-size: 0.83rem;
            line-height: 18px;
            margin: 0;
         }
    }
    &__link {
        text-decoration: none;
        color: #979698;
        transition: 0.2s ease;
        &:hover {
            color: $black;
        }
    }
}
